@model OliveiraSuporte.Areas.painel.Models.Noticia
@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Areas/painel/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <div id="cadastrarnoticias">
        <h2>
    Cadastrar Notícias</h2>
        <div class="editor-label">
            <p>@Html.LabelFor(model => model.Titulo)</p>
        </div>
        <div class="editor-field">
            <p>@Html.EditorFor(model => model.Titulo)</p>
            <p>@Html.ValidationMessageFor(model => model.Titulo)</p>
        </div>
        <div class="editor-label">
            <p>@Html.LabelFor(model => model.Conteudo)</p>
        </div>
        @*Verificar o tamanho do conteudo*@
        <div class="editor-field">
            <p>@Html.TextAreaFor(model => model.Conteudo)</p>
            <p>@Html.ValidationMessageFor(model => model.Conteudo)</p>
        </div>
        <div class="editor-label">
            <p>@Html.LabelFor(model => model.Fonte.Fontes)</p>
        </div>
        <div class="editor-field">
            <p>@Html.DropDownList("fonteId", (SelectList)ViewBag.ListaDeFontes)</p>
        </div>
        <p>
            <input type="submit" value="Cadastrar" />
        </p>
        </div>
}
<div>
    @Html.ActionLink("Voltar", "Index") 
</div>