@model OliveiraSuporte.Areas.painel.Models.Noticia
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/painel/Views/Shared/_Layout.cshtml";
}
<div id="noticiadetalhes">
<h2>
    Detalhes</h2>
    <div class="display-label">
        <p>Titulo</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>
    <div class="display-label">
        <p>Conteudo</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Conteudo)
    </div>
    <div class="display-label">
        <p>Fonte / Nome</p></div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fonte.Fontes) / @Html.DisplayFor(model => model.Fonte.Nome)
    </div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.NoticiaId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
</div>