@model OliveiraSuporte.Models.Cliente
@{
    ViewBag.Title = "Cadastro";
}
<h2>
    Cadastro</h2>    
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
@using (Html.BeginForm())
{
    //Erro que fica acima do formulario
    @Html.ValidationSummary()
    //Inicio Formulário de cadastro.
    <fieldset>
        <legend>Cadastro</legend>
        <div>
            @Html.LabelFor(x => x.Nome)
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
            @Html.ValidationMessageFor(x => x.Nome)
        </div>
        <div>
            @Html.LabelFor(x => x.NomeEmpresa)
        </div>
        <div>
            @Html.EditorFor(x => x.NomeEmpresa)
            @Html.ValidationMessageFor(x => x.NomeEmpresa)
        </div>
        <div>
            @Html.LabelFor(x => x.Endereco)
        </div>
        <div>
            @Html.EditorFor(x => x.Endereco)
            @Html.ValidationMessageFor(x => x.Endereco)
        </div>
        <div>
            @Html.LabelFor(x => x.Email)
        </div>
        <div>
            @Html.EditorFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
        <div>
            @Html.LabelFor(x => x.Telefone)
        </div>
        <div>
            @Html.EditorFor(x => x.Telefone)
            @Html.ValidationMessageFor(x => x.Telefone)
        </div>
        <div>
            @Html.LabelFor(x => x.Login)
        </div>
        <div>
            @Html.EditorFor(x => x.Login)
            @Html.ValidationMessageFor(x => x.Login)
        </div>
        <div>
            @Html.LabelFor(x => x.Senha)
        </div>
        <div>
            @Html.EditorFor(x => x.Senha)
            @Html.ValidationMessageFor(x => x.Senha)
        </div>
         <div>
            <label for="confirmarSenha">Confirmar Senha</label>
        </div>
        <div>
            <input class="text-box single-line" data-val="true" data-val-length="O confirmar senha deve conter no mínimo 7 e máximo 20 caracteres" data-val-length-max="20" data-val-length-min="7" data-val-required="Este campo deve ser preenchido" id="confirmarSenha" name="confirmarSenha" type="password" value="" />
            <span class="field-validation-valid" data-valmsg-for="confirmarSenha" data-valmsg-replace="true"></span>
        </div>

        <input type="submit" value="Cadastrar"/>
    </fieldset>
    //fimFormulario.
}