@model OliveiraSuporte.Areas.painel.Models.Fonte
@{
    ViewBag.Title = "Excluir Fonte";
    Layout = "~/Areas/painel/Views/Shared/_Layout.cshtml";
}
<div id="excluirfonte">
<h2>
    Excluir</h2>
<h3>
    Deseja mesmo excluir?</h3>
    <div>
        <p>@Html.LabelFor(model => model.Nome)</p>
    </div>
    <div>
        @Html.DisplayFor(model => model.Nome)
    </div>
    <div>
        <p>@Html.LabelFor(model => model.Fontes)</p>
    </div>
    <div>
        @Html.DisplayFor(model => model.Fontes)
    </div>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Excluir" />
        <a href="@Url.Action("Index", "Fonte")" class="voltar">Voltar</a>
    </p>
}
</div>